/* logo, botões e Ícones */
h1 a, #areaAplicacoesAbertas div ul li span, #btnMonitoracao, #btnAjuda, #areaAplicacoesAbertas div.dir button, #areaAplicacoesAbertas div.esq button,
#areaInfoApplet > a, #areaPainelModal > span, #preferencias ul li ul li a.ativo > span, .flagBR, .flagUS, #preferencias > a, a.dropdown {
    background: transparent url(bbSpriteImg.png?1) no-repeat 0 0; }

[class*='span'] {background: yellow!important;}


#barra-topo {margin-bottom: 0!important;border-radius: 0;height: 42px;border-bottom: 4px solid #999;}
#cabecalho-full {background: #BACEE2;border-bottom: 1px solid #ccc;}
#linha-cabecalho {height: 43px;}

.fundo-gradiente {
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f6f6f6 47%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f6f6f6 47%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#f6f6f6 47%,#ffffff 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#f6f6f6 47%,#ffffff 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#f6f6f6 47%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#logo-container {
    position: absolute;margin-left: 0.8%;
}

#logoBB {
    background: none repeat scroll 0 0 #4B7D9E;
    background: #4B7D9E;
    padding: 10px;
}
#logoBB #logo-img {
    background: transparent url(bbSpriteImg.png?1) no-repeat 3px 0;
}

.nome-aplicativo {
    color: #3674AE;
    font-weight: bold;
    font-size: 19px;   
}

.nome-funci {
    color: #3674AE;
}

@media (max-width: 767px) {
    footer {font-size: 11px;}
    .nome-aplicativo {font-size: 17px;position: relative;left: 53px;}
    .nome-funci {font-size: 12px;position: relative;left: 53px;}
    #logo-container {width: 53px;left:9px;}
    #logoBB {height: 42px;width: 49px;}
    #logo-img {background: transparent url(bbSpriteImg.png?1) no-repeat 0 0; height: 26px;width: 29px;}
    .titulo-pagina {font-weight: bold;text-shadow: 1px 1px #eee;color: #4B7D9E;}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    footer {font-size: 12px;margin-top: 1%;}
    .nome-aplicativo {font-size: 16px;left: -109px;position: relative;top: 3px;}
    .nome-funci {font-size: 11px;left: 30px;position: relative;top: 3px;}

    #logo-container {width: 53px;}
    #logoBB {height: 42px;width: 49px;}
    #logo-img {background: transparent url(bbSpriteImg.png?1) no-repeat 0 0; height: 26px;width: 29px;}

    .titulo-pagina {font-weight: bold;text-shadow: 1px 1px #eee;color: #4B7D9E;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    footer {font-size: 13px;}
    .nome-aplicativo {font-size: 16px;left:0;top:0;}
    .nome-funci {top:0;left:0;font-size: 13px;}
    #logo-container {width: 53px;}
    #logoBB {height: 42px;width: 49px;}
    #logo-img {height: 30px;width: 37px;}
    .titulo-pagina {font-size: 16px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .nome-aplicativo {font-size: 19px;}
    #logo-container {width: 53px;}
    #logoBB {height: 47px;width: 52px;}
    #logo-img {height: 30px;width: 37px;}
    .titulo-pagina {font-size: 17px;}
}

/* =============== sobrepõe boostrap =============================*/
.panel-heading {padding: 1px 15px!important;}
.panel-body [class*='col'] input {width: 100%! important;}
.panel-body .row { padding: 5px 0;}

footer {background: #eee;margin-top: 10px;text-align: left;min-height: 1%;bottom: 0;padding: 10px;position: relative;width: 100%;left: 0;z-index: -1;}
footer:not(:hover)  strong {color: #999;}
footer > a{color: #777;font-weight: bold;margin-right: 20px;}

